# dependencies
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
*.env
.env.*

videos/
uploads/

# caches
.eslintcache
.cache
*.tsbuildinfo

# IDEs config files
.vscode
.idea

# OS files
.DS_Store
Thumbs.db
